.bar * {
  font-family: "JetBrains Mono";
}

.bar_wrapper {
  background: transparent;
  margin: 8px 0;
  margin-bottom: 2px;
  padding: 0 24px;
  border: 0 solid #000;
  border-radius: 0;
}

.separator {
  padding: 0 0;
  color: white;
  font-weight: bold;
}

.workspaces {
  padding: 0 8px;
  margin: 0 4px;
  margin: 0;
}

.workspaces * {
  background: transparent;
  border-bottom: 1px solid transparent;
  padding: 0 8px;
  border-radius: 2px;
  transition: border-bottom 300ms ease-in-out;
}
.workspaces *.focus {
  background: transparent;
  border-bottom: 1px solid #FFF;
}

.workspaces *.focus > .ws-num {
  color: #FFF;
}

.ws-num {
  color: #6b7280;
  font-size: 1em;
  transition: color 300ms ease-in-out;
}

.clock {
  padding: 0 8px;
  margin: 0 4px;
  font-weight: bold;
  color: #38bdf8;
  opacity: 1;
}

.battery, .battery.low, .battery.med, .battery.high {
  padding: 0 8px;
  margin: 0 4px;
  border-radius: 5px;
}
.battery.high {
  background-color: rgba(34, 197, 94, 0.25);
}
.battery.med {
  background-color: rgba(234, 179, 8, 0.25);
}
.battery.low {
  background-color: rgba(239, 68, 68, 0.25);
}
.battery.charging {
  background-color: rgba(6, 182, 212, 0.25);
}

.heat, .heat.crit, .heat.high {
  padding: 0 8px;
  margin: 0 4px;
  border-radius: 5px;
}
.heat.high {
  background-color: rgba(239, 68, 68, 0.5);
}
.heat.crit {
  background-color: rgba(147, 51, 234, 0.5);
}

.cpu {
  padding: 0 8px;
  margin: 0 4px;
  color: #dc2626;
}

.ram {
  padding: 0 8px;
  margin: 0 4px;
  color: #f97316;
}

.power-button {
  padding: 0 8px;
  margin: 0 4px;
  color: #ef4444;
  font-size: 1.3em;
}

.power-menu-bg {
  background: rgba(0, 0, 0, 0.33);
}

.power-menu {
  padding: 20px;
  background: radial-gradient(circle at center, #020617 30%, rgba(0, 0, 0, 0.3) 60%);
}

.power-menu-item {
  border: 1px solid white;
  background: none;
  padding: 25px 75px;
}

.power-menu-item-icon {
  font-size: 3em;
  padding-left: 3px;
}

.power-menu-item-text {
  padding-top: 10px;
  font-size: 1.5em;
}

/*# sourceMappingURL=style.css.map */
