@define-color critical #ff0000; /* critical color */
@define-color warning #f3f809;  /* warning color */
@define-color fgcolor #ffffff;  /* foreground color */
@define-color bgcolor #303030;  /* background color */
@define-color bgcolor #222436;  /* background color */
@define-color alert   #df3320;

@define-color accent1 #ff7a93;
@define-color accent2 #b9f27c;
@define-color accent3 #ff9e64;
@define-color accent4 #bb9af7;
@define-color accent5 #7da6ff;
@define-color accent6 #0db9d7;

*{
font-family: "JetBrainsMono Nerd Font";
font-weight: bold;
min-height: 0;
/* set font-size to 100% if font scaling is set to 1.00 using nwg-look */
font-size: 98%;
font-feature-settings: '"zero", "ss01", "ss02", "ss03", "ss04", "ss05", "cv31"';
padding: 0px;
margin-top: 1px;
margin-bottom: 1px;
}

/* icons start at U+E900 in Jetbrains mono in gucharmap */

window#waybar {
    background-color: rgba(50, 50, 50, 0.0);
    /*background-color: @bgcolor;*/
    /* border-bottom: 0px solid rgba(100, 114, 125, 0.5); */
    color: #fff;
    transition-property: background-color;
    transition-duration: .5s;
    border-radius: 0;
}

window#waybar.hidden {
    opacity: 0.1;
}

window#waybar.empty {
    background-color: transparent;
}

window#waybar.empty #window {
    padding: 0px;
    margin: 0px;
    border: 0px;
    /*  background-color: rgba(66,66,66,0.5); */ /* transparent */
    background-color: transparent;
}

tooltip {
    background: #1e1e2e;
    opacity: 0.8;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color: #11111b;
}

tooltip label{
    color: #cdd6f4;
}

#workspaces button {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    background-color: transparent;
    color: #7e7e7e;
    /*min-width: 36px;*/
    /* Use box-shadow instead of border so the text isn't offset */
    /*    box-shadow: inset 0 -3px transparent;*/
    /* border-radius: 0px; */
}

#workspaces button.active {
    padding: 0 0 0 0;
    margin: 0 0 0 0;
    background-color: transparent;
    color: #ffffff;
    /*min-width: 36px;*/
    /* Use box-shadow instead of border so the text isn't offset */
    /*    box-shadow: inset 0 -3px transparent;*/
    /* border-radius: 0px; */
}

/* https://github.com/Alexays/Waybar/wiki/FAQ#the-workspace-buttons-have-a-strange-hover-effect */
#workspaces button:hover {
    background: rgba(0, 0, 0, 0.2);
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.focused {
    background-color: #bbccdd;
    color: #323232;
    /* box-shadow: inset 0 -3px #ffffff; */
}

#workspaces button.urgent {
    background-color: #eb4d4b;
}

#mode {
    background-color: #64727D;
    border-bottom: 3px solid #ffffff;
}

#backlight,
#battery,
#bluetooth,
#cava,
#clock,
#cpu,
#disk,
#idle_inhibitor,
#keyboard-state label,
#keyboard-state label.locked,
#keyboard-state,
#memory,
#mode,
#mpd,
#network,
#pulseaudio,
#taskbar button,
#taskbar,
#temperature,
#tray,
#window,
#wireplumber,
#workspaces,
#custom-cycle_wall,
#custom-light_dark,
#custom-lock,
#custom-menu,
#custom-power_vertical,
#custom-power,
#custom-spotify,
#custom-updater,
#custom-weather,
#custom-weather.clearNight,
#custom-weather.cloudyFoggyDay,
#custom-weather.cloudyFoggyNight,
#custom-weather.default 
#custom-weather.rainyDay,
#custom-weather.rainyNight,
#custom-weather.severe,
#custom-weather.showyIcyDay,
#custom-weather.snowyIcyNight,
#custom-weather.sunnyDay {
    padding: 0px 10px;
    /*margin: 4px 3px 5px 3px;*/
    /*color: @fgcolor;*/
    /* background-color: #bbccdd; */
    background-color:transparent;
}

#window,
#workspaces {
    margin: 0 4px;
}

/* If workspaces is the leftmost module, omit left margin */
.modules-left > widget:first-child > #workspaces {
    margin-left: 0;
}

/* If workspaces is the rightmost module, omit right margin */
.modules-right > widget:last-child > #workspaces {
    margin-right: 0;
}

#clock {
    color: @accent2;
}

#custom-updater {
    color: #7287fd;
}

#battery {
    color: @accent5;
}

/* #battery.charging {
    color: #ffffff;
    background-color: #26A65B;
} */

@keyframes blink {
    to {
        background-color: #ffffff;
        color: #333333;
    }
}

#battery.critical:not(.charging) {
    color: #f53c3c;
    animation-name: blink;
    animation-duration: 0.5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

label:focus {
    background-color: #000000;
}

#custom-menu{
    color: #FFFFFF;
    /*padding: 3px;*/
}

#cpu {
    color: @accent1;
}

#memory {
    color: @accent3;
}

#backlight {
    color: #cdd6f4;
}

#bluetooth {
    color: #1e66f5;
}

#network {
    color: @accent3;
}

#network.disconnected {
    color: @alert;
}

#pulseaudio {
    color: @accent4;
}

#pulseaudio-muted {
    color: @accent2;
}
#wireplumber {
    color: @accent4;
}

#wireplumber-muted {
    color: @accent2;
}

#pluseaudio-source-muted{
    color: #a0a0a0;
}

#custom-power {
    color: #cc3436;
}

#disk {
    color: @accent5;
}
#custom-power_profile {
    color: @accent3;
}
#custom-media {
    background-color: #66cc99;
    color: #2a5c45;
    min-width: 100px;
}

#custom-weather {
    color: #66cc99;
}

#custom-lock {
    color: #ffa000;
}

#temperature {
    color: @accent6;
    /* background-color: #f0932b; */
}

#temperature.critical {
    background-color: @critical;
}

#tray {
    /* background-color: #505050; */
}

#idle_inhibitor {
	color: #f9e2af;
    /*background-color: #2d3436;*/
}

#idle_inhibitor.activated {
    /*background-color: #ecf0f1;*/
    color: #2dcc36;
    /*color: #2d3436;*/
}

#taskbar button.active {
    background-color: #7f849c;
}

#mpd {
    color: #2a5c45;
}

#mpd.disconnected {
    background-color: #f53c3c;
}

#mpd.stopped {
    background-color: #90b1b1;
}

#mpd.paused {
    background-color: #51a37a;
}

#custom-language {
    /* background: #bbccdd;
    color: #333333;
    padding: 0 5px;
    margin: 4px 3px 6px 3px; */
    color: @accent5;
    min-width: 16px;
}

#custom-separator {
    color: #606060;
    margin: 0 1px;
    padding-bottom: 5px;
}
