//@use '../palettes/macchiato' as *;
@use '../palettes/tailwind_updated' as *;
//@use '../palettes/mocha' as *;
//@use '../palettes/frappe' as *;

$font: "JetBrains Mono";

// Main
$bg-primary-clr: transparent;
$border-clr: #000;
$separator-clr: white;
//

// Workspaces 
$workspace-bg-active: transparent;
$workspace-bg-inactive: transparent;
$workspace-border-active: 1px solid $fullbright;
$workspace-border-inactive: 1px solid transparent;
$workspace-num-clr: $gray-500;
$workspace-num-clr-active: $fullbright;
$workspace-font-size: 1em;
//

// Clock
$clock-clr-primary: $sky-400;
//

// Battery
$battery-high-clr: $green-500;
$battery-med-clr: $yellow-500;
$battery-low-clr: $red-500;
$battery-charging: $cyan-500;
$battery-back-opacity: .25;
//

// Heat
$heat-high-clr: $red-500;
$heat-crit-clr: $purple-600;
$heat-back-opacity: .5;
//

// perf component
$cpu-clr: $red-600;
$ram-clr: $orange-500;
//

// Power
$power-clr: $red-500;
$power-menu-darkening: rgba($fulldark, .33);
$power-menu-bg: radial-gradient(circle at center, $slate-950 30%, rgba($fulldark, 0.3) 60%)
