@use "colors.scss" as *;
@use "spacing.scss" as *;

@mixin component-bg {
  padding: 0 $component-bg-padding-horizontal;
  margin: 0 $component-bg-margin-horizontal;
  border-radius: $battery-rounding;
}

@mixin component {
  padding: 0 $component-padding-horizontal;
  margin: 0 $component-margin-horizontal;
}
