// border
$border-radius: 0;
$border-width: 0;

// bar 
$outer-margin-horizontal: 0;
$outer-margin-top: 8px;
$outer-margin-bottom: 2px;
$inner-padding-horizontal: 24px;
$inner-padding-vertical: 0;

// components
$component-margin-horizontal: 4px;
$component-padding-horizontal: 8px;

$component-bg-margin-horizontal: 4px;
$component-bg-padding-horizontal: 8px;
//

// workspaces
$workspace-border-radius: 2px;
$workspace-padding-horizontal: 8px;
//

// battery
$battery-padding-horizontal: 8px;
$battery-rounding: 5px;
//
