@use "colors.scss" as *;
@use "spacing.scss" as *;
@use "mixins.scss" as *;

.bar * {
  font-family: $font;
}

.bar_wrapper {
  background: $bg-primary-clr;
  margin: $outer-margin-top $outer-margin-horizontal;
  margin-bottom: $outer-margin-bottom;
  padding: $inner-padding-vertical $inner-padding-horizontal;

  border: $border-width solid $border-clr;
  border-radius: $border-radius;
}

.separator {
  padding: 0 0;
  color: $separator-clr;
  font-weight: bold;
}

.workspaces {
  @include component();
  margin: 0;
}

.workspaces * {
  background: $workspace-bg-inactive;
  border-bottom: $workspace-border-inactive;
  padding: 0 $workspace-padding-horizontal;
  border-radius: $workspace-border-radius;
  transition: border-bottom 300ms ease-in-out;

  &.focus {
    background: $workspace-bg-active;
    border-bottom: $workspace-border-active;
  }

}

.workspaces *.focus>.ws-num {
  color: $workspace-num-clr-active;
}

.ws-num {
  color: $workspace-num-clr;
  font-size: $workspace-font-size;
  transition: color 300ms ease-in-out;
}

.clock {
  @include component();

  font-weight: bold;
  color: $clock-clr-primary;
  opacity: 1;
}


.battery {
  @include component-bg();

  &.high {
    @extend .battery;

    background-color: rgba($battery-high-clr, $battery-back-opacity);
  }

  &.med {
    @extend .battery;

    background-color: rgba($battery-med-clr, $battery-back-opacity);
  }

  &.low {
    @extend .battery;

    background-color: rgba($battery-low-clr, $battery-back-opacity);
  }

  &.charging {
    background-color: rgba($battery-charging, $battery-back-opacity);
  }
}

.heat {
  @include component-bg();

  &.high {
    @extend .heat;

    background-color: rgba($heat-high-clr, $heat-back-opacity);
  }

  &.crit {
    @extend .heat;

    background-color: rgba($heat-crit-clr, $heat-back-opacity);
  }
}

.cpu {
  @include component();

  color: $cpu-clr;
}

.ram {
  @include component();

  color: $ram-clr;
}

.power-button {
  @include component();

  color: $power-clr;
  font-size: 1.3em;
}

.power-menu-bg {
  background: $power-menu-darkening;
}

.power-menu {
  padding: 20px;
  background: $power-menu-bg;
}

.power-menu-item {
  border: 1px solid white;
  background: none;
  padding: 25px 75px;
}

.power-menu-item-icon {
  font-size: 3em;
  padding-left: 3px;
}

.power-menu-item-text {
  padding-top: 10px;
  font-size: 1.5em;
}
